@{
    ViewBag.Title = "GeoQuiz";
}
<body class="container body-content">
    <div class="jumbotron">
        <h1>Geo-Quiz</h1>
        <p class="lead">Educational application about geography</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Info</h2>
            <p>
                Ova aplikacija je projekt studenata FER-a i služi za edukaciju i zabavu
            </p>
        </div>
        <div class="col-md-4">
            <h2>Top 5 highscores</h2>
            <p>
                <li>bla1</li>
                <li>bla2</li>
                <li>bla3</li>
                <li>bla4</li>
                <li>bla5</li>
            </p>
        </div>
        <div class="col-md-4">
            <h2></h2>
            <p><a class="btn btn-info btn-block btn-lg" href="http://localhost:5571/Home/Play">Play</a></p>
            <p><a class="btn btn-primary btn-block btn-lg" href="http://localhost:5571/Home/Contact">Instructions</a></p>
        </div>

    </div>
</body>